[Desktop Entry]
Type=Application
Name=Touchpad Fix
Comment=Disable tap-and-drag
Exec=/home/brunobahri/Documents/Projetos/my-ubuntinho/scripts/touchpad/disable-tap-drag.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
