[Desktop Entry]
Type=Application
Name=Touchpad Configuration
Comment=Desativa tap-and-drag no touchpad
Exec=/home/brunobahri/scripts/fix-touchpad.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
